* {
    box-sizing: border-box;
}
@font-face {
    font-family: Chap;;
    src: url("Chap/Chap-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Chap;;
    src: url("Chap/Chap-Medium.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Chap;;
    src: url("Chap/Chap-Light.otf") format("opentype");
    font-weight:lighter;
    font-style: normal;
}
body {
   background-color:#FEFEFE; ;
}
.flex-parent {
    float: none;
    margin: auto;
    display: flex;
}
.flex-parent2 {
    display: flex;
    justify-content: space-around
}
.jc-center {
    justify-content: center;
    justify-items: center;
}
h1,h2,h3,a,span,p,li{
    position: rekative;
    font-family: Chap;
    color: #2B2B2B;
    text-decoration: none;
}
h2{
    position: fixed;
    margin-top: 9px;
    top: 0%;
    left: 20px;
    font-weight: bold;
    cursor: pointer;
    text-align: left;
    font-size: 33px;
}
p{
    font-family: Chap;
    font-style: lighter;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}
.main_title {
    position: relative;
    font-style: bold;
    font-size: 82px;
    margin: 60%;
    -webkit-text-fill-color:  #FEFEFE; ;
    -webkit-text-stroke-color:#0048FF;;
    -webkit-text-stroke-width: 0.25px; 
}
.main_button {
    position: relative;
    font-size: 16px;
    font-style: normal;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #FEFEFE; 
    border: #ADADAD 0.5px solid;
}
.main_button:hover{
    color: #0048FF;
    border: #0048FF 1px solid;
}
.cotainer2{
    display: flex;
    position: fixed;
    flex-direction: row;
    bottom: 0px;
    column-gap: 48px;
    overflow-x: hidden;
}
.moving1{
    position: fixed;
    bottom: 48px;
    left: 0px;
    right: 0%;
    height: 48px;
    width: 100%;
    background-color: #FEFEFE; 
    border: #ADADAD 0.5px solid;
}
.moving2{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0%;
    height: 48px;
    width: 100%;
    background-color: #FEFEFE; 
    border: #ADADAD 0.5px solid;
}
h3{
    color:#ADADAD;
    text-align: center;
    white-space: nowrap;
    will-change: transform;
    margin: 12px;
    font-size: 20px;
}
img {
    filter: grayscale(100%);
}
img:hover{
    filter: grayscale(0%);
}
  .main-dropdown-container{
    position: absolute;
    margin-left: 70%;
    top: 8%;
    width: 100%;
    background-color: #FEFEFE; 
    border: #ADADAD 0.5px solid;
    width: 328px;
    height: 48px;
  }
  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
  }
  .dropdown-button{
    fill: none;
    border: none;
    position: relative;
    font-family: chap;
    font-size: 26px;
    margin: 4.5px;
    margin-left: 20px;
    background-color: #FEFEFE; 
  }
  .dropdown-container-div{
    display: inline-block;
    position: relative;
  }
  .dropdown-content{
    display:none;
    position: absolute;
    z-index: 1;
    background-color: #FEFEFE; 
    /*do not add padding here, it will affect appearance of hover*/
  }
  .dropdown-content a{
    display: block;
    text-decoration: none;
    margin: 20px;
    width: 3000px;
  }
  .dropdown-content a:hover{
    color: #0048FF;
  }
  .dropdown-container-div:hover .dropdown-content{
    display: block;
  }
  .dropdown-container-div:hover .dropdown-button{
    color: #0048FF;
  }
 .excontainer {
    position: fixed;
    margin: 0%;
    display: grid;
    background-color: #FEFEFE;
    width: 100%;
    height: 100vh;
    overflow: scroll;
   }
 .excontainer1{
    background-color: #FEFEFE; 
    border: #ADADAD 0.5px solid;
   }
.grid {
    display: grid;
    grid-template-rows: repeat(3);
}
.grid2 {
    display: grid;
    grid-template-rows: repeat(1);
}
.extitle {
    width: 50%;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 0px;
}
.extitle:hover{
    color:#0048FF;
}
.exarrow {
    position: relative;
    margin: 20px;
    margin-top: 8%;
    width: 28.05px;
    Height: 36.61px;
}
.date {
    margin-left: 20px;
    float: left;
    font-size: 13px;
    position: absolute;
    font-weight: lighter;
}
@media only screen and (max-width: 1112px) {
.nav {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 56px;
    width: 100%;
    background-color: #FEFEFE; 
    border: #ADADAD 0.5px solid;
    transform: translateX(-50) translateY(-50); 
    z-index: 100;
  }
  .icon {
    position: fixed;
    cursor: pointer;
    margin-top: 44px;
    right: 32px;  
    padding: 16px;
    width: 30px;
    height: 16px;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 1000;
  }
  .hamburger:before,
  .hamburger:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 1px;
    background: #2B2B2B;
    border-radius: 1px;
    transition: 0.5s;
  }
  
  .hamburger:before {
    top: -10px;
  }
  
  .hamburger:after {
    top: 10px;
  }
  
  .icon.active .hamburger {
    background: #2B2B2B;
  }
  
  .icon.active .hamburger:before {
    top: 0;
    transform: rotate(45deg);
  }
  
  .icon.active .hamburger:after {
    top: 0;
    transform: rotate(135deg);
  }
  
  .menu-mobile {
    background-color: #FEFEFE;
    text-align: center;
    height: 100vh;
    position: relative;
    width: 100%;
    z-index: 999;
    padding-top: 150px;
    font-family: chap;
    font-style: normal;
    font-size: 26px;
    overflow: hidden;
  }
  
  .menu-mobile,
  .menu-mobile a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .menu-mobile a {
    clear: right;
    text-decoration: none;
    color: #333;
    height: 70px;
    line-height: 70px;
  }
  .menu-mobile a:hover {
    color:#0048FF;
  }
  .desktop, .menu-desktop, .menu-mobile {
    display: none;
  }
  .photo-container-home{
        position: relative;
        width: 80%;
        margin: 0%;
    }
    .home-photo{
        position: absolute;
        height: auto;
        width: 100%;
        margin-top: 50%;
    }
    .about, .artist{
        position: relative;
        padding-top: 40px;
        margin: 16px;
    }
    .about-image, .artist-image{
        position: relative;
        padding-top: 40px;
        width: 100%;
        padding-bottom: 96px;
    }
    .artist {
        padding-top: 96px;
    }
    .main-dropdown-container{
        position: fixed;
        top: 56px;
        margin-top: 0;
        left: 0%;
        margin-left: 0%;
        width: 100%;
        background-color: #FEFEFE; 
        border: #ADADAD 0.5px solid;
        height: 48px;
      }
      .excontainer {
        position: absolute;
        margin: 0%;
        right: 0%;
        padding-top: 48px;
        padding-bottom: 96px;
        margin-bottom: 96px;
       }
       .name {
        margin: 40px;
        position: relative;
        font-size: 20px;
        text-align: start;
    }
    .name {
        padding-top: 20px;
        margin: 0px;
        position: relative;
        font-size: 20px;
        text-align: start;
    }
    .edp{
        margin: 20px;
        position: relative;
        font-size: 16px;
        width: 50%;
    }
    .edimage {
        position: relative;
        width: 100%;
        margin: 20px;
        Width: 155.93px;
        Height:151.7px;
    }
    .flex-parent2 {
        display: inline;
    }
}

@media only screen and (min-width: 1112px) {
    .main_title {
        font-style: bold;
        font-size: 360px;
        margin-top: 188px;
        margin-bottom: 8px;
    }
    .main_button {
        top: 0%;
        font-size: 26px;
        font-style: normal;
        padding-bottom: 16px;
        padding-top: 16px;
        padding-left: 72px;
        padding-right: 72px;
        background-color: #FEFEFE; 
        border: #ADADAD 0.5px solid;
        
    }
    h2{
        font-size: 42px;
    }
    .desktop {
        position: fixed;
        top: 0%;
        left: 0%;
        bottom: 0;
        width: 308px;
        height: 100vh;
        border: #ADADAD 0.5px solid;
        display: flex;
        flex-direction: column;
        column-count: 1;
        justify-content: center;
        display: block;
        background-color: #FEFEFE;
    }
    .menu-desktop {
        width: 100%;
        display: block;
        text-align: center;
    }
    .menu-desktop a {
        text-decoration: none;
        font-size: 26px;
    }
    .menu-desktop a:hover {
        color:#0048FF;
      }
    .menu-desktop ul {
        list-style-type: none;
        margin: 16px 20px;
        padding: 0;
        display: flex;
        flex-direction: column;
        text-align: justify;
    }
    .menu-desktop li {
        flex-grow: 1;
        margin-top: 88px;
      }
    header.nav, .menu-mobile {
        display: none;
    }
    .links {
        position: absolute;
        margin: 0%;
        bottom: 88px;
        width: 100%;
        height: 200px;
        border: #ADADAD 0.5px solid;
        background-color: #FEFEFE;
    }
    .right {
        float: right;
    }
    .left {
        float: left;
    }
    .social {
        flex-direction: row;
        flex-grow: 3;
        margin: 20px;
        justify-content: space-evenly;
    }
    .link1 {
        margin-right: 20px;
        margin-left: 20px;
    }
    span {
        font-size: 20px;
        margin: 40px;
        margin-bottom: 20px;
    }
    span:hover{
        color:#0048FF;
    }
    .socia11 {
        flex-direction: row;
        flex-grow: 3;
        margin-left: 40px;
        justify-content: space-evenly;
    }
    .photo-container-home{
        position: relative;
        width: 80%;
        margin: 0%;
        margin-top: 88px;
        margin-left: 308px;
    }
    .home-photo{
        position: absolute;
        height: auto;
        width: fit-content;
        margin: 0%;
        margin-left: 23%;
    }
    .about {
        position: relative;
        margin-left: 35%;
        margin-right: 20%;
        margin-top: 6.5%;
    }
    .about-image{
        position: absolute;
        padding-top: 48px;
        margin: 0px;
        width: 100%
    }
    .artist {
        position: relative;
        margin-left: 30%;
        margin-right: 40%;
        margin-top: 10%;
    }
    .artist-image{
        position: absolute;
        padding-top: 48px;
        margin: 0px;
        width: 100%
    }
    .excontainer {
        position: absolute;
        width: 100%;
        padding-left: 308px;
        top: 0%;
        left: 0%;
        padding-bottom: 96px;
        margin-bottom: 104px;
        }
    .extitle {
            width: 50%;
            font-size: 42px;
            line-height: 56px;
            position: relative;
            margin-top: 20px;
            margin-bottom: 8px;
        }
        .exarrow {
            position: relative;
            margin-top: 9%;
        }
        .date {
            font-size: 26px;
            margin-top: 4px;
            position: relative;
        }
        .name {
            margin: 40px;
            position: relative;
            font-size: 20px;
            margin-left: 24px;
            text-align: start;
        }
        .edp{
            
            margin-bottom: 300px;
            float: left;
            margin: 40px;
            position: relative;
            text-align: start;
            font-size: 16px;
            width: 20%;
        }
        .edimage {
            position: relative;
            float: inline-end;
            width: 100%;
            margin: 40px;
            Width: 155.93px;
            Height:151.7px;
        }
}